header,
footer {
    background-color: aqua;
}

nav {
    display: flex;
    flex-wrap: wrap;
    align-items: left;
    padding: 20px;
}

nav img, h1 {
    padding: 10px;
}

.three-images {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 33%;
}

.image {
    position: relative;
    margin: 10px;
    left: 240px;
    width: 400px;
    height: 300px;
    box-shadow: 20px 10px 5px rgba(0, 0, 0, 1);
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}
